#hero:has(.fancy:hover) .unfancy{
    opacity:0.2;
}

#hero:has(.fancy:hover) .letter{
    font-size: 0px;
}

.name {
    /* text-7xl */
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}

.fancy:hover .enhance{
    animation: breathing 5s ease infinite;
}

.unfancy{
    transition: opacity 250ms ease;
}

.letter{
    transition: font-size 0.4s ease;
}

.special{
    display:inline-block;
    transition: transform 0.4s ease, font-size 0.4s ease;
}

.fancy:hover .special{
    background: linear-gradient(109.6deg, rgb(80, 154, 175) 11.2%, rgb(125, 216, 199) 59.3%, rgb(245, 255, 195) 92.7%);
    background-clip: text;
    color: transparent;
}

.fancy:hover .enhance > :nth-child(1 of .special){
    /* text-8xl */
    font-size: 6rem; /* 96px */
    transform: translate(-240%, -20%) rotate(8deg);
}

.fancy:hover .enhance > :nth-child(2 of .special){
    /* text-8xl */
    font-size: 6rem; /* 96px */
    transform: translate(-70%, 20%) rotate(2deg);
}

.fancy:hover .enhance > :nth-child(3 of .special){
    /* text-8xl */
    font-size: 6rem; /* 96px */
    transform: translate(100%, -20%) rotate(-3deg);
}

.fancy:hover .enhance > :nth-child(4 of .special){
    /* text-8xl */
    font-size: 6rem; /* 96px */
    transform: translate(140%, 20%) rotate(-8deg);
}

.fancy:hover .enhance > :nth-child(5 of .special){
    /* text-8xl */
    font-size: 6rem; /* 96px */
    transform: translate(430%, 20%) rotate(20deg);
}

@keyframes breathing {
    0% {
        transform: scale(0.9);
    }
  
    25% {
        transform: scale(1);
    }
  
    100% {
        transform: scale(0.9);
    }
}