#hero:has(.fancy:hover) .unfancy{
    opacity:0.2;
}

#hero:has(.fancy:hover) .grow{
    /* text-8xl */
    font-size: 6rem; /* 96px */
    transition: font-size 0.3s ease;
}

#hero:has(.fancy:hover) .shrink{
    font-size: 0px; /* 128px */
    transition: font-size 0.3s ease;
}

.name {
    /* text-7xl */
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}

.fancy:not(:hover) .letter{
    transition: font-size 0.4s ease;
}

.unfancy{
    transition: opacity 250ms ease;
}

.special{
    display:inline-block;
}

.fancy:hover .enhance > :nth-child(1 of .special){
    transform: translate(-220%, -20%) rotate(8deg);
}

.fancy:hover .enhance > :nth-child(2 of .special){
    transform: translate(-50%, 20%) rotate(2deg);
}

.fancy:hover .enhance > :nth-child(3 of .special){
    transform: translate(120%, -20%) rotate(-3deg);
}

.fancy:hover .enhance > :nth-child(4 of .special){
    transform: translate(160%, 20%) rotate(-8deg);
}

.fancy:hover .enhance{
    animation: breathing 5s ease infinite;
}

.enhance > .special {
    transition: transform 350ms ease;
}

@keyframes breathing {
    0% {
      transform: scale(0.9);
    }
  
    25% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.9);
    }
  }