.content-1 {
    display:none;
}

.content-2 {
    display:none;
}

.content-3 {
    display:none;
}

#tab-1:checked ~ div .content-1,
#tab-2:checked ~ div .content-2,
#tab-3:checked ~ div .content-3 {
    display:block;
}

.work-content {
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@media (min-width: 768px) {
    .slider{
        position: absolute;
        background-color: #bcedc5;
        width: 3px;
        height: 33%;
        top:0%;
        border-radius: 1px;
        transition: all 0.3s ease;
        z-index:1;
    }

    .sliderBack{
        position:absolute;
        background-color: #525252;
        width:2px;
        height:100%;
        top:0%;
        left:0.5px;
    }

    #tab-2:checked ~ div div nav + .slider {
        top: 33.3%;
    }

    #tab-3:checked ~ div div nav + .slider {
        top: 66.7%;
    }
}

@media (max-width: 768px) {
    .slider{
        position: absolute;
        background-color: #bcedc5;
        width: 33%;
        height: 3px;
        left:0%;
        top:100%;
        border-radius: 1px;
        transition: all 0.3s ease;
        z-index:1;
    }

    .sliderBack{
        position:absolute;
        background-color: #525252;
        width:100%; /* ADJUST THIS */
        height:2px;
        top:100%;
    }

    #tab-2:checked ~ div div nav + .slider {
        left: 33.3%;
    }
    
    #tab-3:checked ~ div div nav + .slider {
        left: 66.7%;
    }
}